In [27]:
import pandas as pd
import numpy as np
import os
pd.set_option('display.float_format', '{:,.2f}'.format)
cwd=os.getcwd()
print(cwd)

C:\Users\Usuario\Documents\INSIDE\Agricultura

In [28]:
cwd=os.chdir('C:\\Users\\Usuario\\Documents\\INSIDE\\Agricultura')

In [29]:
dv1=pd.read_csv('Datos Ventas I.csv', header=3)
dv1

,Unnamed: 0,Fecha,Vendedor,Importe IVA Inc. (UYU),Mes,Año,Unnamed: 6,Mes Nro.,Mes Año
0,NaN,01/01/2021,Nicolas Cairus (2),"5.600,09",enero,2021,NaN,1,enero
1,NaN,02/01/2021,Fabian Retamosa (10),"53.307,15",enero,2021,NaN,2,febrero
2,NaN,02/01/2021,Nicolas Cairus (2),"162.738,17",enero,2021,NaN,3,marzo
3,NaN,02/01/2021,Leonardo Pages (20),"58.767,11",enero,2021,NaN,4,abril
4,NaN,02/01/2021,Depósito (50),"18.416,13",enero,2021,NaN,5,mayo
...,...,...,...,...,...,...,...,...,...
9987,NaN,30/06/2025,Nicolas Cairus (2),"67877,55",junio,2025,NaN,NaN,NaN
9988,NaN,30/06/2025,Leonardo Pages (20),"127678,33",junio,2025,NaN,NaN,NaN
9989,NaN,30/06/2025,Hector (3),"112226,65",junio,2025,NaN,NaN,NaN
9990,NaN,30/06/2025,Depósito (50),"66833,6",junio,2025,NaN,NaN,NaN
9991,NaN,30/06/2025,David Sosa (6),"113478,44",junio,2025,NaN,NaN,NaN

In [30]:
dv1=dv1.drop(['Unnamed: 0','Unnamed: 6','Mes Nro.','Mes Año'], axis=1)
dv1

           Fecha              Vendedor Importe IVA Inc. (UYU)    Mes   Año
0     01/01/2021    Nicolas Cairus (2)               5.600,09  enero  2021
1     02/01/2021  Fabian Retamosa (10)              53.307,15  enero  2021
2     02/01/2021    Nicolas Cairus (2)             162.738,17  enero  2021
3     02/01/2021   Leonardo Pages (20)              58.767,11  enero  2021
4     02/01/2021         Depósito (50)              18.416,13  enero  2021
...          ...                   ...                    ...    ...   ...
9987  30/06/2025    Nicolas Cairus (2)               67877,55  junio  2025
9988  30/06/2025   Leonardo Pages (20)              127678,33  junio  2025
9989  30/06/2025            Hector (3)              112226,65  junio  2025
9990  30/06/2025         Depósito (50)                66833,6  junio  2025
9991  30/06/2025        David Sosa (6)              113478,44  junio  2025

[9992 rows x 5 columns]

In [31]:
dv1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9992 entries, 0 to 9991
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha                   9992 non-null   object
 1   Vendedor                9992 non-null   object
 2   Importe IVA Inc. (UYU)  9992 non-null   object
 3   Mes                     9992 non-null   object
 4   Año                     9992 non-null   int64
dtypes: int64(1), object(4)
memory usage: 390.4+ KB

In [32]:
dv1['Fecha']=dv1['Fecha'].astype('datetime64[ns]')
dv1['Vendedor']=dv1['Vendedor'].astype('string')
dv1['Mes']=dv1['Mes'].astype('string')

In [33]:

dv1['Importe IVA Inc. (UYU)']=dv1['Importe IVA Inc. (UYU)'].str.replace('.','', regex=False)
dv1['Importe IVA Inc. (UYU)']=dv1['Importe IVA Inc. (UYU)'].str.replace(',','.', regex=False)
dv1['Importe IVA Inc. (UYU)']=dv1['Importe IVA Inc. (UYU)'].astype('float64')

In [34]:
dv1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9992 entries, 0 to 9991
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha                   9992 non-null   datetime64[ns]
 1   Vendedor                9992 non-null   string
 2   Importe IVA Inc. (UYU)  9992 non-null   float64
 3   Mes                     9992 non-null   string
 4   Año                     9992 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), string(2)
memory usage: 390.4 KB

In [35]:
meses={'enero':1,'febrero':2,'marzo':3,'abril':4,'mayo':5,'junio':6,'julio':7,'agosto':8,'setiembre':9,'octubre':10,'noviembre':11,'diciembre':12}

In [36]:
dv1['Mes_num']=dv1['Mes'].map(meses)
dv1

,Fecha,Vendedor,Importe IVA Inc. (UYU),Mes,Año,Mes_num
0,2021-01-01,Nicolas Cairus (2),"5,600.09",enero,2021,1
1,2021-02-01,Fabian Retamosa (10),"53,307.15",enero,2021,1
2,2021-02-01,Nicolas Cairus (2),"162,738.17",enero,2021,1
3,2021-02-01,Leonardo Pages (20),"58,767.11",enero,2021,1
4,2021-02-01,Depósito (50),"18,416.13",enero,2021,1
...,...,...,...,...,...,...
9987,2025-06-30,Nicolas Cairus (2),"67,877.55",junio,2025,6
9988,2025-06-30,Leonardo Pages (20),"127,678.33",junio,2025,6
9989,2025-06-30,Hector (3),"112,226.65",junio,2025,6
9990,2025-06-30,Depósito (50),"66,833.60",junio,2025,6
9991,2025-06-30,David Sosa (6),"113,478.44",junio,2025,6

In [37]:
dv1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9992 entries, 0 to 9991
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha                   9992 non-null   datetime64[ns]
 1   Vendedor                9992 non-null   string
 2   Importe IVA Inc. (UYU)  9992 non-null   float64
 3   Mes                     9992 non-null   string
 4   Año                     9992 non-null   int64
 5   Mes_num                 9992 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(2), string(2)
memory usage: 468.5 KB

In [38]:
vma=dv1.groupby(['Mes','Mes_num','Año'])['Importe IVA Inc. (UYU)'].sum().reset_index()
vma

          Mes  Mes_num   Año  Importe IVA Inc. (UYU)
0       abril        4  2021           17,130,800.53
1       abril        4  2022           17,328,869.88
2       abril        4  2023           19,541,740.28
3       abril        4  2024           20,109,010.95
4       abril        4  2025           22,448,532.35
5      agosto        8  2021           17,270,677.46
6      agosto        8  2022           19,750,460.86
7      agosto        8  2023           18,544,758.65
8      agosto        8  2024           19,660,716.59
9   diciembre       12  2021           24,937,249.70
10  diciembre       12  2022           27,399,670.13
11  diciembre       12  2023           24,375,125.97
12  diciembre       12  2024           29,459,987.95
13      enero        1  2021           15,939,116.38
14      enero        1  2022           19,732,798.15
15      enero        1  2023           22,755,450.29
16      enero        1  2024           22,340,382.70
17      enero        1  2025           26,269,252.66
18    febrero        2  2021           16,406,804.89
19    febrero        2  2022           18,929,022.03
20    febrero        2  2023           20,924,796.30
21    febrero        2  2024           21,439,612.08
22    febrero        2  2025           23,052,992.68
23      julio        7  2021           16,112,074.12
24      julio        7  2022           16,888,188.91
25      julio        7  2023           17,905,587.61
26      julio        7  2024           20,238,171.59
27      junio        6  2021           16,643,809.21
28      junio        6  2022           17,702,277.47
29      junio        6  2023           19,425,970.42
30      junio        6  2024           18,884,510.10
31      junio        6  2025           20,397,203.28
32      marzo        3  2021           18,987,152.78
33      marzo        3  2022           19,311,673.86
34      marzo        3  2023           24,150,601.51
35      marzo        3  2024           20,279,666.50
36      marzo        3  2025           21,410,941.88
37       mayo        5  2021           17,027,464.78
38       mayo        5  2022           16,994,695.54
39       mayo        5  2023           20,299,131.14
40       mayo        5  2024           19,030,349.42
41       mayo        5  2025           20,770,886.96
42  noviembre       11  2021           21,054,253.52
43  noviembre       11  2022           22,440,155.46
44  noviembre       11  2023           21,196,712.02
45  noviembre       11  2024           25,212,570.26
46    octubre       10  2021           18,839,437.37
47    octubre       10  2022           21,869,688.04
48    octubre       10  2023           21,020,941.78
49    octubre       10  2024           25,992,878.00
50  setiembre        9  2021           18,043,422.78
51  setiembre        9  2022           20,936,515.90
52  setiembre        9  2023           17,369,923.47
53  setiembre        9  2024           21,361,671.83

In [39]:
vma.sort_values((['Año','Mes_num']), inplace=True)
vma['Mes Año']=vma.groupby('Mes_num')['Importe IVA Inc. (UYU)'].pct_change()
vma['Año Año'] = vma.groupby('Año')['Importe IVA Inc. (UYU)'].pct_change()
vma

          Mes  Mes_num   Año  Importe IVA Inc. (UYU)  Mes Año  Año Año
13      enero        1  2021           15,939,116.38      NaN      NaN
18    febrero        2  2021           16,406,804.89      NaN     0.03
32      marzo        3  2021           18,987,152.78      NaN     0.16
0       abril        4  2021           17,130,800.53      NaN    -0.10
37       mayo        5  2021           17,027,464.78      NaN    -0.01
27      junio        6  2021           16,643,809.21      NaN    -0.02
23      julio        7  2021           16,112,074.12      NaN    -0.03
5      agosto        8  2021           17,270,677.46      NaN     0.07
50  setiembre        9  2021           18,043,422.78      NaN     0.04
46    octubre       10  2021           18,839,437.37      NaN     0.04
42  noviembre       11  2021           21,054,253.52      NaN     0.12
9   diciembre       12  2021           24,937,249.70      NaN     0.18
14      enero        1  2022           19,732,798.15     0.24      NaN
19    febrero        2  2022           18,929,022.03     0.15    -0.04
33      marzo        3  2022           19,311,673.86     0.02     0.02
1       abril        4  2022           17,328,869.88     0.01    -0.10
38       mayo        5  2022           16,994,695.54    -0.00    -0.02
28      junio        6  2022           17,702,277.47     0.06     0.04
24      julio        7  2022           16,888,188.91     0.05    -0.05
6      agosto        8  2022           19,750,460.86     0.14     0.17
51  setiembre        9  2022           20,936,515.90     0.16     0.06
47    octubre       10  2022           21,869,688.04     0.16     0.04
43  noviembre       11  2022           22,440,155.46     0.07     0.03
10  diciembre       12  2022           27,399,670.13     0.10     0.22
15      enero        1  2023           22,755,450.29     0.15      NaN
20    febrero        2  2023           20,924,796.30     0.11    -0.08
34      marzo        3  2023           24,150,601.51     0.25     0.15
2       abril        4  2023           19,541,740.28     0.13    -0.19
39       mayo        5  2023           20,299,131.14     0.19     0.04
29      junio        6  2023           19,425,970.42     0.10    -0.04
25      julio        7  2023           17,905,587.61     0.06    -0.08
7      agosto        8  2023           18,544,758.65    -0.06     0.04
52  setiembre        9  2023           17,369,923.47    -0.17    -0.06
48    octubre       10  2023           21,020,941.78    -0.04     0.21
44  noviembre       11  2023           21,196,712.02    -0.06     0.01
11  diciembre       12  2023           24,375,125.97    -0.11     0.15
16      enero        1  2024           22,340,382.70    -0.02      NaN
21    febrero        2  2024           21,439,612.08     0.02    -0.04
35      marzo        3  2024           20,279,666.50    -0.16    -0.05
3       abril        4  2024           20,109,010.95     0.03    -0.01
40       mayo        5  2024           19,030,349.42    -0.06    -0.05
30      junio        6  2024           18,884,510.10    -0.03    -0.01
26      julio        7  2024           20,238,171.59     0.13     0.07
8      agosto        8  2024           19,660,716.59     0.06    -0.03
53  setiembre        9  2024           21,361,671.83     0.23     0.09
49    octubre       10  2024           25,992,878.00     0.24     0.22
45  noviembre       11  2024           25,212,570.26     0.19    -0.03
12  diciembre       12  2024           29,459,987.95     0.21     0.17
17      enero        1  2025           26,269,252.66     0.18      NaN
22    febrero        2  2025           23,052,992.68     0.08    -0.12
36      marzo        3  2025           21,410,941.88     0.06    -0.07
4       abril        4  2025           22,448,532.35     0.12     0.05
41       mayo        5  2025           20,770,886.96     0.09    -0.07
31      junio        6  2025           20,397,203.28     0.08    -0.02

In [40]:
vma.reset_index(drop=True)

          Mes  Mes_num   Año  Importe IVA Inc. (UYU)  Mes Año  Año Año
0       enero        1  2021           15,939,116.38      NaN      NaN
1     febrero        2  2021           16,406,804.89      NaN     0.03
2       marzo        3  2021           18,987,152.78      NaN     0.16
3       abril        4  2021           17,130,800.53      NaN    -0.10
4        mayo        5  2021           17,027,464.78      NaN    -0.01
5       junio        6  2021           16,643,809.21      NaN    -0.02
6       julio        7  2021           16,112,074.12      NaN    -0.03
7      agosto        8  2021           17,270,677.46      NaN     0.07
8   setiembre        9  2021           18,043,422.78      NaN     0.04
9     octubre       10  2021           18,839,437.37      NaN     0.04
10  noviembre       11  2021           21,054,253.52      NaN     0.12
11  diciembre       12  2021           24,937,249.70      NaN     0.18
12      enero        1  2022           19,732,798.15     0.24      NaN
13    febrero        2  2022           18,929,022.03     0.15    -0.04
14      marzo        3  2022           19,311,673.86     0.02     0.02
15      abril        4  2022           17,328,869.88     0.01    -0.10
16       mayo        5  2022           16,994,695.54    -0.00    -0.02
17      junio        6  2022           17,702,277.47     0.06     0.04
18      julio        7  2022           16,888,188.91     0.05    -0.05
19     agosto        8  2022           19,750,460.86     0.14     0.17
20  setiembre        9  2022           20,936,515.90     0.16     0.06
21    octubre       10  2022           21,869,688.04     0.16     0.04
22  noviembre       11  2022           22,440,155.46     0.07     0.03
23  diciembre       12  2022           27,399,670.13     0.10     0.22
24      enero        1  2023           22,755,450.29     0.15      NaN
25    febrero        2  2023           20,924,796.30     0.11    -0.08
26      marzo        3  2023           24,150,601.51     0.25     0.15
27      abril        4  2023           19,541,740.28     0.13    -0.19
28       mayo        5  2023           20,299,131.14     0.19     0.04
29      junio        6  2023           19,425,970.42     0.10    -0.04
30      julio        7  2023           17,905,587.61     0.06    -0.08
31     agosto        8  2023           18,544,758.65    -0.06     0.04
32  setiembre        9  2023           17,369,923.47    -0.17    -0.06
33    octubre       10  2023           21,020,941.78    -0.04     0.21
34  noviembre       11  2023           21,196,712.02    -0.06     0.01
35  diciembre       12  2023           24,375,125.97    -0.11     0.15
36      enero        1  2024           22,340,382.70    -0.02      NaN
37    febrero        2  2024           21,439,612.08     0.02    -0.04
38      marzo        3  2024           20,279,666.50    -0.16    -0.05
39      abril        4  2024           20,109,010.95     0.03    -0.01
40       mayo        5  2024           19,030,349.42    -0.06    -0.05
41      junio        6  2024           18,884,510.10    -0.03    -0.01
42      julio        7  2024           20,238,171.59     0.13     0.07
43     agosto        8  2024           19,660,716.59     0.06    -0.03
44  setiembre        9  2024           21,361,671.83     0.23     0.09
45    octubre       10  2024           25,992,878.00     0.24     0.22
46  noviembre       11  2024           25,212,570.26     0.19    -0.03
47  diciembre       12  2024           29,459,987.95     0.21     0.17
48      enero        1  2025           26,269,252.66     0.18      NaN
49    febrero        2  2025           23,052,992.68     0.08    -0.12
50      marzo        3  2025           21,410,941.88     0.06    -0.07
51      abril        4  2025           22,448,532.35     0.12     0.05
52       mayo        5  2025           20,770,886.96     0.09    -0.07
53      junio        6  2025           20,397,203.28     0.08    -0.02

In [46]:
dvf=dv1.merge(vma, on=['Mes_num','Año','Mes'], how='left', suffixes=(' 1', ' Total Mes'))
dvf

,Fecha,Vendedor,Importe IVA Inc. (UYU) 1,Mes,Año,Mes_num,Importe IVA Inc. (UYU) Total Mes,Mes Año,Año Año
0,2021-01-01,Nicolas Cairus (2),"5,600.09",enero,2021,1,"15,939,116.38",NaN,NaN
1,2021-02-01,Fabian Retamosa (10),"53,307.15",enero,2021,1,"15,939,116.38",NaN,NaN
2,2021-02-01,Nicolas Cairus (2),"162,738.17",enero,2021,1,"15,939,116.38",NaN,NaN
3,2021-02-01,Leonardo Pages (20),"58,767.11",enero,2021,1,"15,939,116.38",NaN,NaN
4,2021-02-01,Depósito (50),"18,416.13",enero,2021,1,"15,939,116.38",NaN,NaN
...,...,...,...,...,...,...,...,...,...
9987,2025-06-30,Nicolas Cairus (2),"67,877.55",junio,2025,6,"20,397,203.28",0.08,-0.02
9988,2025-06-30,Leonardo Pages (20),"127,678.33",junio,2025,6,"20,397,203.28",0.08,-0.02
9989,2025-06-30,Hector (3),"112,226.65",junio,2025,6,"20,397,203.28",0.08,-0.02
9990,2025-06-30,Depósito (50),"66,833.60",junio,2025,6,"20,397,203.28",0.08,-0.02
9991,2025-06-30,David Sosa (6),"113,478.44",junio,2025,6,"20,397,203.28",0.08,-0.02

In [47]:
dvf.to_csv('Datos Ventas I Procesado.csv', index=False)