In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import os
pd.set_option('display.float_format', '{:,.2f}'.format)
cwd=os.getcwd()
print(cwd)

C:\Users\Usuario\Documents\INSIDE\Agricultura

In [21]:
cwd=os.chdir('C:\\Users\\Usuario\\Documents\\INSIDE\\Agricultura')

In [22]:
dv2=pd.read_csv('Datos Ventas II.csv', header=3)
dv2

,Unnamed: 0,Cliente,RUT,NetoExento,NetoMinimo,NetoBasico,neto,IvaMinimo,IvaBasico,Imp_cli,Total,Mes,Año
0,NaN,ACE (1621),210362180016,"0,00","2.407,27","22.059,65","24.466,93","240,73","4.853,12","0,00","29.560,78",abril,2024
1,NaN,ACOSTA BENTANCOR GARELLI PRESTES (30),180165760014,"650,00","2.492,72","23.019,11","26.161,83","249,27","5.064,20","0,00","31.475,30",abril,2024
2,NaN,ADAVAJU (2839),36843210,"0,00","0,00","8.593,57","8.593,57","0,00","1.890,59","0,00","10.484,16",abril,2024
3,NaN,ADELA MEDINA (2892),37192569,"0,00","331,46","7.257,31","7.588,76","33,15","1.596,61","0,00","9.218,52",abril,2024
4,NaN,ADOLFO RAMEAU (204),180246080013,"0,00","0,00","16.466,78","16.466,78","0,00","3.622,69","0,00","20.089,47",abril,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...
14168,NaN,YANY ALONSO (3361),47418905,"0,00","920,00","2.204,92","3.124,92","92,00","485,08","0,00","3.702,00",julio,2025
14169,NaN,ZAITIN (3067),150701840016,"0,00","1.392,73","51.751,12","53.143,85","139,27","11.385,25","0,00","64.668,37",julio,2025
14170,NaN,ZONA 20 (3397),38500654,"0,00","1.276,37","6.629,50","7.905,87","127,64","1.458,49","0,00","9.492,00",julio,2025
14171,NaN,ZULMA PETROFF (3282),150365440011,"0,00","3.411,82","26.075,16","29.486,98","341,18","5.736,54","0,00","35.564,70",julio,2025
14172,NaN,ZULLY TORRRES (3445),36462606,"0,00","606,36","2.222,15","2.828,51","60,64","488,87","0,00","3.378,02",julio,2025

In [23]:
dv2.columns

Index(['Unnamed: 0', 'Cliente', 'RUT', 'NetoExento', 'NetoMinimo',
       'NetoBasico', 'neto', 'IvaMinimo', 'IvaBasico', 'Imp_cli', 'Total',
       'Mes', 'Año'],
      dtype='object')

In [24]:
dv2.drop(columns=['Unnamed: 0','NetoExento','NetoMinimo','NetoBasico','neto','IvaMinimo','IvaBasico','Imp_cli'], inplace=True)
dv2

,Cliente,RUT,Total,Mes,Año
0,ACE (1621),210362180016,"29.560,78",abril,2024
1,ACOSTA BENTANCOR GARELLI PRESTES (30),180165760014,"31.475,30",abril,2024
2,ADAVAJU (2839),36843210,"10.484,16",abril,2024
3,ADELA MEDINA (2892),37192569,"9.218,52",abril,2024
4,ADOLFO RAMEAU (204),180246080013,"20.089,47",abril,2024
...,...,...,...,...,...
14168,YANY ALONSO (3361),47418905,"3.702,00",julio,2025
14169,ZAITIN (3067),150701840016,"64.668,37",julio,2025
14170,ZONA 20 (3397),38500654,"9.492,00",julio,2025
14171,ZULMA PETROFF (3282),150365440011,"35.564,70",julio,2025
14172,ZULLY TORRRES (3445),36462606,"3.378,02",julio,2025

In [25]:
dv2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14173 entries, 0 to 14172
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cliente  14173 non-null  object
 1   RUT      13860 non-null  object
 2   Total    14173 non-null  object
 3   Mes      14173 non-null  object
 4   Año      14173 non-null  int64
dtypes: int64(1), object(4)
memory usage: 553.8+ KB

In [26]:
dv2['Total']=dv2['Total'].str.replace('.','',regex=False)
dv2['Total']=dv2['Total'].str.replace(',','.',regex=False)
dv2['Total']=dv2['Total'].astype('float64')

In [27]:
dv2['Cliente'].astype('string')
dv2['RUT'].astype('string')
dv2['Mes'].astype('string')
dv2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14173 entries, 0 to 14172
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Cliente  14173 non-null  object
 1   RUT      13860 non-null  object
 2   Total    14173 non-null  float64
 3   Mes      14173 non-null  object
 4   Año      14173 non-null  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 553.8+ KB

In [55]:
ventas_anuales=dv2.groupby(['Cliente'],as_index=False)['Total'].sum().sort_values('Total',ascending=False)
ventas_anuales

                         Cliente         Total
1137    SUPERMERCADO CADOL (110) 19,076,511.86
369                   ESSO (228) 15,716,270.65
68                  ANALON (169) 15,084,710.16
984   PROVISION BELLA VISTA (10) 13,287,749.61
136          BRAVOSUL S.A. (157) 11,988,847.55
...                          ...           ...
944         PEDRO PEÑALVA (1965)    -38,566.00
690        LUCIA ORDUSGOITY (99)    -46,753.00
1018       RANDU BROCHINI (1440)    -55,870.00
790              MAS CAFE (2085)   -101,965.00
139               CACHITO (1964)   -681,088.00

[1221 rows x 2 columns]

In [ ]:
ventas_anuales.to_csv('Datos Ventas II Total.csv', index=False)

In [ ]:
ventas_anuales['Porcentaje']=ventas_anuales['Total']/ventas_anuales['Total'].sum()
ventas_anuales

                         Cliente         Total  Porcentaje
1137    SUPERMERCADO CADOL (110) 19,076,511.86        0.05
369                   ESSO (228) 15,716,270.65        0.04
68                  ANALON (169) 15,084,710.16        0.04
984   PROVISION BELLA VISTA (10) 13,287,749.61        0.03
136          BRAVOSUL S.A. (157) 11,988,847.55        0.03
...                          ...           ...         ...
944         PEDRO PEÑALVA (1965)    -38,566.00       -0.00
690        LUCIA ORDUSGOITY (99)    -46,753.00       -0.00
1018       RANDU BROCHINI (1440)    -55,870.00       -0.00
790              MAS CAFE (2085)   -101,965.00       -0.00
139               CACHITO (1964)   -681,088.00       -0.00

[1221 rows x 3 columns]

In [ ]:
ventas_anuales['Porcentaje Acumulado']=ventas_anuales['Porcentaje'].cumsum()
ventas_anuales

,Cliente,Total,Porcentaje,Porcentaje Acumulado
1137,SUPERMERCADO CADOL (110),"19,076,511.86",0.05,0.05
369,ESSO (228),"15,716,270.65",0.04,0.08
68,ANALON (169),"15,084,710.16",0.04,0.12
984,PROVISION BELLA VISTA (10),"13,287,749.61",0.03,0.15
136,BRAVOSUL S.A. (157),"11,988,847.55",0.03,0.18
...,...,...,...,...
944,PEDRO PEÑALVA (1965),"-38,566.00",-0.00,1.00
690,LUCIA ORDUSGOITY (99),"-46,753.00",-0.00,1.00
1018,RANDU BROCHINI (1440),"-55,870.00",-0.00,1.00
790,MAS CAFE (2085),"-101,965.00",-0.00,1.00
139,CACHITO (1964),"-681,088.00",-0.00,1.00

In [ ]:
clientes_top=ventas_anuales[ventas_anuales['Porcentaje Acumulado']<=0.80]
clientes_top

,Cliente,Total,Porcentaje,Porcentaje Acumulado
1137,SUPERMERCADO CADOL (110),"19,076,511.86",0.05,0.05
369,ESSO (228),"15,716,270.65",0.04,0.08
68,ANALON (169),"15,084,710.16",0.04,0.12
984,PROVISION BELLA VISTA (10),"13,287,749.61",0.03,0.15
136,BRAVOSUL S.A. (157),"11,988,847.55",0.03,0.18
...,...,...,...,...
435,GLADYS BRUNO-SUCURSAL (3225),"415,634.29",0.00,0.80
297,DOLORES HOTEL (1677),"409,791.36",0.00,0.80
701,LUIS MARCELO AQUINO (2665),"409,350.03",0.00,0.80
381,FABIAN ALAYON (2155),"405,635.22",0.00,0.80
921,PANADERIA Y CONFITERIA (2453),"403,756.34",0.00,0.80

In [ ]:
top_20=clientes_top.sort_values('Total',ascending=False)[:20]
top_20

,Cliente,Total,Porcentaje,Porcentaje Acumulado
1137,SUPERMERCADO CADOL (110),"19,076,511.86",0.05,0.05
369,ESSO (228),"15,716,270.65",0.04,0.08
68,ANALON (169),"15,084,710.16",0.04,0.12
984,PROVISION BELLA VISTA (10),"13,287,749.61",0.03,0.15
136,BRAVOSUL S.A. (157),"11,988,847.55",0.03,0.18
240,CONSUMIDOR FINAL (366),"11,388,560.70",0.03,0.21
1163,URUGUAY FRIO LTDA (1985),"10,360,187.41",0.02,0.23
110,AUTOSERVICE PALMAR (1891),"8,618,769.55",0.02,0.25
928,PARADOR MUNICIPAL PALMAR (1481),"6,369,141.11",0.02,0.27
608,LA ISLA MINIMERCADO (2154),"5,915,068.27",0.01,0.28
325,EL GABI (106),"4,983,782.63",0.01,0.29
335,EL RETORNO (250),"4,926,954.16",0.01,0.30
918,PANADERIA SUREÑA (28),"4,667,449.59",0.01,0.31
802,MAXIMILIANO EUGUI FRANCHINI (86),"4,093,542.96",0.01,0.32
288,DIEGO BATO (2149),"4,064,538.24",0.01,0.33
342,EL TATACHO S.R.L. (2056),"4,017,673.28",0.01,0.34
397,FERNANDO CLARA (440),"3,840,182.17",0.01,0.35
825,MINEFLAN S.A (2407),"3,697,686.07",0.01,0.36
910,PANADERIA HIGUERITAS (59),"3,677,346.07",0.01,0.37
844,MULTI EXPRESS (2924),"3,621,742.80",0.01,0.38

In [ ]:
top_20_fig=px.bar(top_20, x='Cliente', y='Total', title='Top 20 Clientes por Ventas', labels={'Total':'Ventas'})
top_20_fig