In [128]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import os
pd.set_option('display.float_format', '{:,.2f}'.format)
cwd=os.getcwd()
print(cwd)

C:\Users\Usuario\Documents\INSIDE\Agricultura

In [129]:
cwd=os.chdir('C:\\Users\\Usuario\\Documents\\INSIDE\\Agricultura')

In [130]:
dv1=pd.read_csv('Datos Ventas I.csv', header=3)
dv1

,Unnamed: 0,Fecha,Vendedor,Importe IVA Inc. (UYU),Mes,Año,Unnamed: 6,Mes Nro.,Mes Año
0,NaN,01/01/2021,Nicolas Cairus (2),"5.600,09",enero,2021,NaN,1,enero
1,NaN,02/01/2021,Fabian Retamosa (10),"53.307,15",enero,2021,NaN,2,febrero
2,NaN,02/01/2021,Nicolas Cairus (2),"162.738,17",enero,2021,NaN,3,marzo
3,NaN,02/01/2021,Leonardo Pages (20),"58.767,11",enero,2021,NaN,4,abril
4,NaN,02/01/2021,Depósito (50),"18.416,13",enero,2021,NaN,5,mayo
...,...,...,...,...,...,...,...,...,...
9987,NaN,30/06/2025,Nicolas Cairus (2),"67877,55",junio,2025,NaN,NaN,NaN
9988,NaN,30/06/2025,Leonardo Pages (20),"127678,33",junio,2025,NaN,NaN,NaN
9989,NaN,30/06/2025,Hector (3),"112226,65",junio,2025,NaN,NaN,NaN
9990,NaN,30/06/2025,Depósito (50),"66833,6",junio,2025,NaN,NaN,NaN
9991,NaN,30/06/2025,David Sosa (6),"113478,44",junio,2025,NaN,NaN,NaN

In [131]:
dv1=dv1.drop(['Unnamed: 0','Unnamed: 6','Mes Nro.','Mes Año'], axis=1)
dv1

           Fecha              Vendedor Importe IVA Inc. (UYU)    Mes   Año
0     01/01/2021    Nicolas Cairus (2)               5.600,09  enero  2021
1     02/01/2021  Fabian Retamosa (10)              53.307,15  enero  2021
2     02/01/2021    Nicolas Cairus (2)             162.738,17  enero  2021
3     02/01/2021   Leonardo Pages (20)              58.767,11  enero  2021
4     02/01/2021         Depósito (50)              18.416,13  enero  2021
...          ...                   ...                    ...    ...   ...
9987  30/06/2025    Nicolas Cairus (2)               67877,55  junio  2025
9988  30/06/2025   Leonardo Pages (20)              127678,33  junio  2025
9989  30/06/2025            Hector (3)              112226,65  junio  2025
9990  30/06/2025         Depósito (50)                66833,6  junio  2025
9991  30/06/2025        David Sosa (6)              113478,44  junio  2025

[9992 rows x 5 columns]

In [132]:
dv1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9992 entries, 0 to 9991
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha                   9992 non-null   object
 1   Vendedor                9992 non-null   object
 2   Importe IVA Inc. (UYU)  9992 non-null   object
 3   Mes                     9992 non-null   object
 4   Año                     9992 non-null   int64
dtypes: int64(1), object(4)
memory usage: 390.4+ KB

In [133]:
dv1['Fecha']=dv1['Fecha'].astype('datetime64[ns]')
dv1['Vendedor']=dv1['Vendedor'].astype('string')
dv1['Mes']=dv1['Mes'].astype('string')

In [134]:

dv1['Importe IVA Inc. (UYU)']=dv1['Importe IVA Inc. (UYU)'].str.replace('.','', regex=False)
dv1['Importe IVA Inc. (UYU)']=dv1['Importe IVA Inc. (UYU)'].str.replace(',','.', regex=False)
dv1['Importe IVA Inc. (UYU)']=dv1['Importe IVA Inc. (UYU)'].astype('float64')

In [135]:
dv1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9992 entries, 0 to 9991
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha                   9992 non-null   datetime64[ns]
 1   Vendedor                9992 non-null   string
 2   Importe IVA Inc. (UYU)  9992 non-null   float64
 3   Mes                     9992 non-null   string
 4   Año                     9992 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(1), string(2)
memory usage: 390.4 KB

In [136]:
meses={'enero':1,'febrero':2,'marzo':3,'abril':4,'mayo':5,'junio':6,'julio':7,'agosto':8,'setiembre':9,'octubre':10,'noviembre':11,'diciembre':12}

In [137]:
dv1['Mes_num']=dv1['Mes'].map(meses)
dv1

,Fecha,Vendedor,Importe IVA Inc. (UYU),Mes,Año,Mes_num
0,2021-01-01,Nicolas Cairus (2),"5,600.09",enero,2021,1
1,2021-02-01,Fabian Retamosa (10),"53,307.15",enero,2021,1
2,2021-02-01,Nicolas Cairus (2),"162,738.17",enero,2021,1
3,2021-02-01,Leonardo Pages (20),"58,767.11",enero,2021,1
4,2021-02-01,Depósito (50),"18,416.13",enero,2021,1
...,...,...,...,...,...,...
9987,2025-06-30,Nicolas Cairus (2),"67,877.55",junio,2025,6
9988,2025-06-30,Leonardo Pages (20),"127,678.33",junio,2025,6
9989,2025-06-30,Hector (3),"112,226.65",junio,2025,6
9990,2025-06-30,Depósito (50),"66,833.60",junio,2025,6
9991,2025-06-30,David Sosa (6),"113,478.44",junio,2025,6

In [138]:
dv1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9992 entries, 0 to 9991
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Fecha                   9992 non-null   datetime64[ns]
 1   Vendedor                9992 non-null   string
 2   Importe IVA Inc. (UYU)  9992 non-null   float64
 3   Mes                     9992 non-null   string
 4   Año                     9992 non-null   int64
 5   Mes_num                 9992 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(2), string(2)
memory usage: 468.5 KB

In [214]:
mensual_total=dv1.groupby(['Mes_num','Mes','Año'],as_index=False)['Importe IVA Inc. (UYU)'].sum().sort_values(by=['Año','Mes_num'])
mensual_total

    Mes_num        Mes   Año  Importe IVA Inc. (UYU)
0         1      enero  2021           15,939,116.38
5         2    febrero  2021           16,406,804.89
10        3      marzo  2021           18,987,152.78
15        4      abril  2021           17,130,800.53
20        5       mayo  2021           17,027,464.78
25        6      junio  2021           16,643,809.21
30        7      julio  2021           16,112,074.12
34        8     agosto  2021           17,270,677.46
38        9  setiembre  2021           18,043,422.78
42       10    octubre  2021           18,839,437.37
46       11  noviembre  2021           21,054,253.52
50       12  diciembre  2021           24,937,249.70
1         1      enero  2022           19,732,798.15
6         2    febrero  2022           18,929,022.03
11        3      marzo  2022           19,311,673.86
16        4      abril  2022           17,328,869.88
21        5       mayo  2022           16,994,695.54
26        6      junio  2022           17,702,277.47
31        7      julio  2022           16,888,188.91
35        8     agosto  2022           19,750,460.86
39        9  setiembre  2022           20,936,515.90
43       10    octubre  2022           21,869,688.04
47       11  noviembre  2022           22,440,155.46
51       12  diciembre  2022           27,399,670.13
2         1      enero  2023           22,755,450.29
7         2    febrero  2023           20,924,796.30
12        3      marzo  2023           24,150,601.51
17        4      abril  2023           19,541,740.28
22        5       mayo  2023           20,299,131.14
27        6      junio  2023           19,425,970.42
32        7      julio  2023           17,905,587.61
36        8     agosto  2023           18,544,758.65
40        9  setiembre  2023           17,369,923.47
44       10    octubre  2023           21,020,941.78
48       11  noviembre  2023           21,196,712.02
52       12  diciembre  2023           24,375,125.97
3         1      enero  2024           22,340,382.70
8         2    febrero  2024           21,439,612.08
13        3      marzo  2024           20,279,666.50
18        4      abril  2024           20,109,010.95
23        5       mayo  2024           19,030,349.42
28        6      junio  2024           18,884,510.10
33        7      julio  2024           20,238,171.59
37        8     agosto  2024           19,660,716.59
41        9  setiembre  2024           21,361,671.83
45       10    octubre  2024           25,992,878.00
49       11  noviembre  2024           25,212,570.26
53       12  diciembre  2024           29,459,987.95
4         1      enero  2025           26,269,252.66
9         2    febrero  2025           23,052,992.68
14        3      marzo  2025           21,410,941.88
19        4      abril  2025           22,448,532.35
24        5       mayo  2025           20,770,886.96
29        6      junio  2025           20,397,203.28

In [215]:
mensual_total['var_mensual_total']=mensual_total.groupby(['Mes'])['Importe IVA Inc. (UYU)'].pct_change()
mensual_total.rename(columns={'Importe IVA Inc. (UYU)':'Importe IVA Inc. (UYU) Mensual Total'},inplace=True)
mensual_total

,Mes_num,Mes,Año,Importe IVA Inc. (UYU) Mensual Total,var_mensual_total
0,1,enero,2021,"15,939,116.38",NaN
5,2,febrero,2021,"16,406,804.89",NaN
10,3,marzo,2021,"18,987,152.78",NaN
15,4,abril,2021,"17,130,800.53",NaN
20,5,mayo,2021,"17,027,464.78",NaN
25,6,junio,2021,"16,643,809.21",NaN
30,7,julio,2021,"16,112,074.12",NaN
34,8,agosto,2021,"17,270,677.46",NaN
38,9,setiembre,2021,"18,043,422.78",NaN
42,10,octubre,2021,"18,839,437.37",NaN
46,11,noviembre,2021,"21,054,253.52",NaN
50,12,diciembre,2021,"24,937,249.70",NaN
1,1,enero,2022,"19,732,798.15",0.24
6,2,febrero,2022,"18,929,022.03",0.15
11,3,marzo,2022,"19,311,673.86",0.02
16,4,abril,2022,"17,328,869.88",0.01
21,5,mayo,2022,"16,994,695.54",-0.00
26,6,junio,2022,"17,702,277.47",0.06
31,7,julio,2022,"16,888,188.91",0.05
35,8,agosto,2022,"19,750,460.86",0.14
39,9,setiembre,2022,"20,936,515.90",0.16
43,10,octubre,2022,"21,869,688.04",0.16
47,11,noviembre,2022,"22,440,155.46",0.07
51,12,diciembre,2022,"27,399,670.13",0.10
2,1,enero,2023,"22,755,450.29",0.15
7,2,febrero,2023,"20,924,796.30",0.11
12,3,marzo,2023,"24,150,601.51",0.25
17,4,abril,2023,"19,541,740.28",0.13
22,5,mayo,2023,"20,299,131.14",0.19
27,6,junio,2023,"19,425,970.42",0.10
32,7,julio,2023,"17,905,587.61",0.06
36,8,agosto,2023,"18,544,758.65",-0.06
40,9,setiembre,2023,"17,369,923.47",-0.17
44,10,octubre,2023,"21,020,941.78",-0.04
48,11,noviembre,2023,"21,196,712.02",-0.06
52,12,diciembre,2023,"24,375,125.97",-0.11
3,1,enero,2024,"22,340,382.70",-0.02
8,2,febrero,2024,"21,439,612.08",0.02
13,3,marzo,2024,"20,279,666.50",-0.16
18,4,abril,2024,"20,109,010.95",0.03
23,5,mayo,2024,"19,030,349.42",-0.06
28,6,junio,2024,"18,884,510.10",-0.03
33,7,julio,2024,"20,238,171.59",0.13
37,8,agosto,2024,"19,660,716.59",0.06
41,9,setiembre,2024,"21,361,671.83",0.23
45,10,octubre,2024,"25,992,878.00",0.24
49,11,noviembre,2024,"25,212,570.26",0.19
53,12,diciembre,2024,"29,459,987.95",0.21
4,1,enero,2025,"26,269,252.66",0.18
9,2,febrero,2025,"23,052,992.68",0.08
14,3,marzo,2025,"21,410,941.88",0.06
19,4,abril,2025,"22,448,532.35",0.12
24,5,mayo,2025,"20,770,886.96",0.09
29,6,junio,2025,"20,397,203.28",0.08

In [174]:
anual_total=dv1.groupby(['Año'],as_index=False)['Importe IVA Inc. (UYU)'].sum().sort_values(by=['Año'])
anual_total

    Año  Importe IVA Inc. (UYU)
0  2021          218,392,263.52
1  2022          239,284,016.23
2  2023          247,510,739.44
3  2024          264,009,527.97
4  2025          134,349,809.81

In [216]:
anual_total['var_anual_total']=anual_total['Importe IVA Inc. (UYU)'].pct_change()
anual_total.rename(columns={'Importe IVA Inc. (UYU)':'Importe IVA Inc. (UYU) Anual Total'},inplace=True)
anual_total

    Año  Importe IVA Inc. (UYU) Anual Total  var_anual_total
0  2021                      218,392,263.52              NaN
1  2022                      239,284,016.23             0.10
2  2023                      247,510,739.44             0.03
3  2024                      264,009,527.97             0.07
4  2025                      134,349,809.81            -0.49

In [178]:
mensual_vendedor=dv1.groupby(['Año','Mes_num','Mes','Vendedor'],as_index=False)['Importe IVA Inc. (UYU)'].sum().sort_values(by=['Año','Mes_num'])
mensual_vendedor

      Año  Mes_num    Mes              Vendedor  Importe IVA Inc. (UYU)
0    2021        1  enero        David Sosa (6)            1,045,102.40
1    2021        1  enero         Depósito (50)            1,511,968.02
2    2021        1  enero  Emanuel-Mercedes (5)              135,788.37
3    2021        1  enero  Fabian Retamosa (10)            2,799,006.62
4    2021        1  enero            Hector (3)            1,531,436.85
..    ...      ...    ...                   ...                     ...
483  2025        6  junio  Fabian Retamosa (10)            4,134,026.78
484  2025        6  junio            Hector (3)            2,268,070.79
485  2025        6  junio             Jorge (1)            3,648,161.46
486  2025        6  junio   Leonardo Pages (20)            3,735,029.58
487  2025        6  junio    Nicolas Cairus (2)            1,749,214.53

[488 rows x 5 columns]

In [217]:
mensual_vendedor['var_mensual_vendedor']=mensual_vendedor.groupby(['Vendedor','Mes'])['Importe IVA Inc. (UYU)'].pct_change()
mensual_vendedor.rename(columns={'Importe IVA Inc. (UYU)':'Importe IVA Inc. (UYU) Vendedor Mensual'},inplace=True)
mensual_vendedor

,Año,Mes_num,Mes,Vendedor,Importe IVA Inc. (UYU) Vendedor Mensual,var_mensual_vendedor
0,2021,1,enero,David Sosa (6),"1,045,102.40",NaN
1,2021,1,enero,Depósito (50),"1,511,968.02",NaN
2,2021,1,enero,Emanuel-Mercedes (5),"135,788.37",NaN
3,2021,1,enero,Fabian Retamosa (10),"2,799,006.62",NaN
4,2021,1,enero,Hector (3),"1,531,436.85",NaN
...,...,...,...,...,...,...
483,2025,6,junio,Fabian Retamosa (10),"4,134,026.78",0.05
484,2025,6,junio,Hector (3),"2,268,070.79",0.11
485,2025,6,junio,Jorge (1),"3,648,161.46",0.08
486,2025,6,junio,Leonardo Pages (20),"3,735,029.58",0.15
487,2025,6,junio,Nicolas Cairus (2),"1,749,214.53",0.02

In [159]:
anual_vendedor=dv1.groupby(['Año','Vendedor'])['Importe IVA Inc. (UYU)'].sum().reset_index().sort_values(by=['Año'])
anual_vendedor

     Año                 Vendedor  Importe IVA Inc. (UYU)
0   2021           David Sosa (6)           22,059,923.65
15  2021              Sin Asignar               35,741.09
14  2021  PEDIDOS PENDIENTES (29)                3,655.47
13  2021       PALMAR-REPARTO (4)            7,721,934.75
12  2021       Nicolas Cairus (2)           21,118,973.70
..   ...                      ...                     ...
59  2025               Hector (3)           15,631,901.41
60  2025                Jorge (1)           22,437,333.59
61  2025       Leo - PEDIDOS (30)               -3,825.16
62  2025      Leonardo Pages (20)           21,456,606.29
64  2025       Nicolas Cairus (2)           14,595,578.52

[65 rows x 3 columns]

In [218]:
anual_vendedor['var_anual_vendedor']=anual_vendedor.groupby(['Vendedor'])['Importe IVA Inc. (UYU)'].pct_change()
anual_vendedor.rename(columns={'Importe IVA Inc. (UYU)':'Importe IVA Inc. (UYU) Vendedor Anual'},inplace=True)    
anual_vendedor

,Año,Vendedor,Importe IVA Inc. (UYU) Vendedor Anual,var_anual_vendedor
0,2021,David Sosa (6),"22,059,923.65",NaN
15,2021,Sin Asignar,"35,741.09",NaN
14,2021,PEDIDOS PENDIENTES (29),"3,655.47",NaN
13,2021,PALMAR-REPARTO (4),"7,721,934.75",NaN
12,2021,Nicolas Cairus (2),"21,118,973.70",NaN
...,...,...,...,...
59,2025,Hector (3),"15,631,901.41",-0.46
60,2025,Jorge (1),"22,437,333.59",-0.49
61,2025,Leo - PEDIDOS (30),"-3,825.16",-1.45
62,2025,Leonardo Pages (20),"21,456,606.29",-0.49
64,2025,Nicolas Cairus (2),"14,595,578.52",-0.49

In [221]:
df_final=mensual_vendedor.merge(mensual_total,on=['Año','Mes_num','Mes'],how='left')
df_final=df_final.merge(anual_vendedor,on=['Año','Vendedor'],how='left')
df_final=df_final.merge(anual_total,on=['Año'],how='left')
df_final

,Año,Mes_num,Mes,Vendedor,Importe IVA Inc. (UYU) Vendedor Mensual,var_mensual_vendedor,Importe IVA Inc. (UYU) Mensual Total,var_mensual_total,Importe IVA Inc. (UYU) Vendedor Anual,var_anual_vendedor,Importe IVA Inc. (UYU) Anual Total,var_anual_total
0,2021,1,enero,David Sosa (6),"1,045,102.40",NaN,"15,939,116.38",NaN,"22,059,923.65",NaN,"218,392,263.52",NaN
1,2021,1,enero,Depósito (50),"1,511,968.02",NaN,"15,939,116.38",NaN,"35,576,136.06",NaN,"218,392,263.52",NaN
2,2021,1,enero,Emanuel-Mercedes (5),"135,788.37",NaN,"15,939,116.38",NaN,"975,552.65",NaN,"218,392,263.52",NaN
3,2021,1,enero,Fabian Retamosa (10),"2,799,006.62",NaN,"15,939,116.38",NaN,"41,779,880.63",NaN,"218,392,263.52",NaN
4,2021,1,enero,Hector (3),"1,531,436.85",NaN,"15,939,116.38",NaN,"18,758,322.18",NaN,"218,392,263.52",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
483,2025,6,junio,Fabian Retamosa (10),"4,134,026.78",0.05,"20,397,203.28",0.08,"25,561,022.74",-0.52,"134,349,809.81",-0.49
484,2025,6,junio,Hector (3),"2,268,070.79",0.11,"20,397,203.28",0.08,"15,631,901.41",-0.46,"134,349,809.81",-0.49
485,2025,6,junio,Jorge (1),"3,648,161.46",0.08,"20,397,203.28",0.08,"22,437,333.59",-0.49,"134,349,809.81",-0.49
486,2025,6,junio,Leonardo Pages (20),"3,735,029.58",0.15,"20,397,203.28",0.08,"21,456,606.29",-0.49,"134,349,809.81",-0.49
487,2025,6,junio,Nicolas Cairus (2),"1,749,214.53",0.02,"20,397,203.28",0.08,"14,595,578.52",-0.49,"134,349,809.81",-0.49

In [223]:
df_final.replace([np.inf, -np.inf], np.nan, inplace=True)
df_final.to_csv('Datos Ventas I Procesado.csv', index=False)